// colours
$brand-colorLight: rgb(143,255,181);	// palegreen
$brand-colorMed: rgb(61,119,93);		// seagreen
$accentOne: rgb(247,45,72);				// crimson
$accentTwo: rgb(235,213,95);			// khaki
$neutralDark: rgb(138, 136, 131);		// grey
$neutralLight: rgb(231,217,179);		// wheat


// font families
$font-head: 'Codystar', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-body: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// font weights
$normal: 400;
$light: 300;

// font sizes
$base-font-size: 16*1em;
$base-line-height: (25/16)*1em;